$width : 90px;
.list{
    display: flex;
    padding: .5rem;
    .innerConner{
        margin: 5px;
        border: 2px solid #ccc;
        width: 25vw;
        height: 40vw;
        border-radius: 10px;
        max-width: $width;
        max-height: calc( $width * 16 / 9 );
        background-size: cover;
    }
    
}