.renderItem{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    .item{
        display: flex;
        .desc{
            margin-left: 2rem;
            max-width: 70%;
        }
    }
    .button a{
        background-color: var(--color-primary-light) !important;
        color: var(--color-secondary-light);
        padding: 5px 1rem;
    }
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.list{
    height: calc(100% - 100px);
    max-height:calc(100% - 100px) ;
    
    
}