@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  height: 100%;
}
.bodyDark{
	background : linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
	color: #fff;
	height: 100%;
	.header{
		background-color: #000;
	}
}
.bodyLight{
	.header{
		background-color: #fff;
		border-bottom: 1px solid #f3f3f3;
	}
	.headerFill{
		background-color: #fff;
	}
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ccc;

}
::-webkit-scrollbar{
    width: 2px;
    background-color: #F5F5F5;
    
}

::-webkit-scrollbar-thumb{
    border-radius: 2px;

}

.main{
	font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  line-height: 1.5 !important;
}
#__next{
  height: 100%;
}

:root {
	--theme-light : #ffffff;
	--theme-dark : #262626;
	--theme-text-light : #000;
	--theme-text-dark : #ccc;
	--nc-header-shadow : rgba(60,64,67,0.3);
	--color-primary-light : #253022;
	--color-secondary-light : #fff;
	--text-color-primary : #2C2D31;
	--color1: rgba(7,155,238,1);
	--color2: rgba(8,41,190,1);
	--color3: rgb(150, 9, 150);
}

.ql-align-center{
  text-align : center;
}


.carousel {
	display: inline-block;
	overflow: hidden;
	outline: 0px;
  max-width: 650px;

	&--image {
		border: 1px solid #fff;
		position: relative;
	}

	&--thumbs {
		margin-top: 10px;
		text-align: center;
	}

	&--thumb {
		border: 1px solid transparent;
		cursor: pointer;
		display: inline-block;
		height: 120px;
		margin: 0 5px;
		width: 150px;
		transition: transform .2s ease-in-out;

		&:hover {
			transform: translate(0, -3px);
		}
	}

	&--selected {
		border-color: #fff;
	}

	&--arrow {

		&-next {
			right: 0;
			top: 0;
			transform: translate(20px, 0);

			&:after {
				content: '\203A';
				text-align: right;

			}

			&:hover:after {
			    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(255,255,255, 0.6) 100%);
			}
		}

		&-previous {
			left: 0;
			top: 0;
			transform: translate(-20px, 0);

			&:after {
				content: '\2039';
			}

			&:hover:after {
			    background: linear-gradient(to right, rgba(255,255,255, 0.5) 0%, rgba(0,0,0,0) 100%);
			}
		}

		&-previous,
		&-next {
			color: transparent;
			cursor: pointer;
			height: 100%;
			position: absolute;
			transition: transform .3s ease-in, color .3s ease-in;
			width: 20%;

			&:hover {
				color: #000;
				transform: translate(0, 0);
			}

			&:after {
				display: flex;
				flex-direction: column;
				font: bold 60px/100% Arial;
				height: 100%;
				justify-content: center;
				padding: 0 15px;
			}
		}
	}
}

.animation {

	&--next {

		&-enter {
			transform: translate(100%,0);
			transition: transform 1.5s;

			&.animation--next-enter-active {
				transform: translate(0,0);
			}
		}

		&-leave {
			left: 0;
			position: absolute;
			top: 0;
			transform: translate(0,0);
			transition: transform 1.5s;

			&.animation--next-leave-active {
				transform: translate(-100%,0);
			}
		}
	}

	&--previous {

		&-enter {
			transform: translate(-100%,0);
			transition: transform 1.5s;

			&.animation--previous-enter-active {
				transform: translate(0,0);
			}
		}

		&-leave {
			left: 0;
			position: absolute;
			top: 0;
			transform: translate(0,0);
			transition: transform 1.5s;

			&.animation--previous-leave-active {
				transform: translate(100%,0);
			}
		}
	}
}

.ampstart-footer-nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-column {
	-ms-flex-direction: column;
	flex-direction: column;
}
.flex-wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.items-start {
	-ms-flex-align: start;
	align-items: flex-start;
}
.items-end {
	-ms-flex-align: end;
	align-items: flex-end;
}
.items-center {
	-ms-flex-align: center;
	align-items: center;
}
.ampstart-label {
	text-transform: uppercase;
	font-size: 0.875rem;
    color: #4f4f4f;
    line-height: 1.125rem;
    letter-spacing: 0.06rem;
}
.text-decoration-none {
	text-decoration: none;
}
.list-reset {
	list-style: none;
	padding-left: 0;
}
.flex-wrap {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.mb3 {
	margin-bottom: 1.5rem;
}
.px1 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.px3 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.ampstart-footer,
.ampstart-small-text {
	font-size: 0.75rem;
	line-height: 1rem;
	letter-spacing: 0.06rem;
}

.ampstart-footer {
	background-color: #fff;
	color: #000;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-top: 1px solid #f3f3f3;
	margin-top: 2rem;
}
.ampstart-footer .ampstart-icon {
	fill: #000;
}
.ampstart-footer .ampstart-social-follow li:last-child {
	margin-right: 0;
}

.items-center {
	-ms-flex-align: center;
	align-items: center;
}

.ampstart-footer{
	display: flex;
	justify-content: center;
	align-items: center;
}

.ampstart-nav-item{
	font-weight: bold;
}

.ant-spin-nested-loading{
	height: calc(100% - 100px);
    max-height:calc(100% - 100px) ;
	overflow-y: scroll;
	padding-right: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.sec-center {
	position: relative;
	max-width: 100%;
	text-align: center;
	z-index: 200;
}

.dark-light:checked + label,
.dark-light:not(:checked) + label{
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 20000;
  display: block;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  transition: all 200ms linear;
  box-shadow: 0 0 25px rgba(255,235,167,.45);
}
.dark-light:checked + label{
  transform: rotate(360deg);
}
.dark-light:checked + label:after,
.dark-light:not(:checked) + label:after{
  position: absolute;
  content: '';
  top: 1px;
  left: 1px;
  overflow: hidden;
  z-index: 2;
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #102770;
  background-image: url('https://assets.codepen.io/1462889/moon.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked + label:after {
  opacity: 1;
}
.dark-light:checked + label:before,
.dark-light:not(:checked) + label:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-color: #48dbfb;
  background-image: url('https://assets.codepen.io/1462889/sun.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
}
.dark-light:checked + label:before{
  background-color: #000;
}
.light-back{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  height: 100%;
  width: 100%;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked ~ .light-back{
  opacity: 1;
}
.dropdown:checked + label,
.dropdown:not(:checked) + label{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 30px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: max-content;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  cursor: pointer;
  color: #102770;
  box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
  padding: 1rem;
}
.dark-light:checked ~ .sec-center .for-dropdown{
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}
.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 50px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown {
  background-color: #fff;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.15);
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown:after {
  border-bottom: 8px solid #fff;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
button{
	position: relative;
	color: #fff;
	transition: all 200ms linear;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
	border-radius: 2px;
	padding: 5px 0;
	padding-left: 20px;
	padding-right: 15px;
	margin: 2px 0;
	text-align: left;
	text-decoration: none;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	-ms-flex-pack: distribute;
	border: none;
	width: 100%;
	background-color: transparent;
  }
  .dark-light:checked ~ .sec-center .section-dropdown a {
	color: #102770;
  }
  button:hover {
	color: #102770;
	background-color: #ffeba7;
  }
  .dark-light:checked ~ .sec-center .section-dropdown a:hover {
	color: #ffeba7;
	background-color: #102770;
  }
  button .uil {
	font-size: 22px;
  }
  .dropdown-sub:checked + label,
  .dropdown-sub:not(:checked) + label{
	position: relative;
	color: #fff;
	transition: all 200ms linear;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
	border-radius: 2px;
	padding: 5px 0;
	padding-left: 20px;
	padding-right: 15px;
	text-align: left;
	text-decoration: none;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	  -ms-flex-pack: distribute;
	  cursor: pointer;
  }
  .dropdown-sub:checked + label .uil,
  .dropdown-sub:not(:checked) + label .uil{
	font-size: 22px;
  }
  .dropdown-sub:not(:checked) + label .uil {
	transition: transform 200ms linear;
  }
  .dropdown-sub:checked + label .uil {
	transform: rotate(135deg);
	transition: transform 200ms linear;
  }
  .dropdown-sub:checked + label:hover,
  .dropdown-sub:not(:checked) + label:hover{
	color: #102770;
	background-color: #ffeba7;
  }
  .dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub{
	color: #102770;
  }
  .dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub:hover{
	color: #ffeba7;
	background-color: #102770;
  }
  
  .section-dropdown-sub {
	position: relative;
	display: block;
	width: 100%;
	pointer-events: none;
	opacity: 0;
	max-height: 0;
	padding-left: 10px;
	padding-right: 3px;
	overflow: hidden;
	transition: all 200ms linear;
  }
  .dropdown-sub:checked ~ .section-dropdown-sub{
	pointer-events: auto;
	opacity: 1;
	max-height: 999px;
  }
  .section-dropdown-sub a {
	font-size: 14px;
  }
  .section-dropdown-sub a .uil {
	font-size: 20px;
  }
  .logo {
	  position: fixed;
	  top: 50px;
	  left: 40px;
	  display: block;
	  z-index: 11000000;
	background-color: transparent;
	border-radius: 0;
	padding: 0;
	  transition: all 250ms linear;
  }
  .logo:hover {
	background-color: transparent;
  }
  .logo img {
	  height: 26px;
	  width: auto;
	  display: block;
	transition: all 200ms linear;
  }
  .dark-light:checked ~ .logo img{
	filter: brightness(10%);
  }
  
  @media screen and (max-width: 991px) {
  .logo {
	  top: 30px;
	  left: 20px;
  }
  .dark-light:checked + label,
  .dark-light:not(:checked) + label{
	top: 20px;
	right: 20px;
  }
  }
  