
.main{

  margin: 80px auto;
  .band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    
  }
  
  @media only screen and (min-width: 500px) {
    .band {
      grid-template-columns: 1fr 1fr;
    }  
    .item1 {
    grid-column: 1/ span 2;
    }
    .item1 h1 {
      font-size: 30px;
    }
  }
  
  @media only screen and (min-width: 850px) {
    .band {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  /* card */
  
  .card {
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }
  
  .card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
  
  .card article {
    padding: 20px;
    display: flex;
    
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    
  }
  .card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
  
  .card p { 
    flex: 1; /* make p grow to fill available space*/
    line-height: 1.4;
  }
  
  /* typography */
  h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  
  .card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }
}

// .containerLight {
//   background-color: var(--theme-light);
//   color: var(--theme-text-light);
//   padding-top: 70px;
//   a:hover{
//     color: var(--theme-text-light);
//   }
// }
// .containerDark {
//   background-color: var(--theme-dark);
//   color: var(--theme-text-dark);
//   padding-top: 70px;

//   a:hover{
//     color: var(--theme-text-dark);
//   }
// }


// .main {
//   min-height: 100vh;
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   max-width: 700px;
//   margin: 0 auto;


//   .band {
//     width: 90%;
//     max-width: 1240px;
//     margin: 0 auto;
    
//     display: grid;
    
//     grid-template-columns: 1fr;
//     grid-template-rows: auto;
//     grid-gap: 20px;
    
//   }

//   @media only screen and (min-width: 500px) {
//     .band {
//       grid-template-columns: 1fr 1fr;
//     }  
//     .item-1 {
//     grid-column: 1/ span 2;
//     }
//     .item-1 h1 {
//       font-size: 30px;
//     }
//   }

//   @media only screen and (min-width: 850px) {
//     .band {
//       grid-template-columns: 1fr 1fr 1fr 1fr;
//     }
//   }

//   /* card */

//   .card {
//     min-height: 100%;
//     background: white;
//     box-shadow: 0 2px 5px rgba(0,0,0,0.1);
//     display: flex;
//     flex-direction: column;
//     text-decoration: none;
//     color: #444;
//     position: relative;
//     top: 0;
//     transition: all .1s ease-in;
//   }

//   .card:hover {
//     top: -2px;
//     box-shadow: 0 4px 5px rgba(0,0,0,0.2);
//   }

//   .card article {
//     padding: 20px;
//     display: flex;
    
//     flex: 1;
//     justify-content: space-between;
//     flex-direction: column;
    
//   }
//   .card .thumb {
//     padding-bottom: 60%;
//     background-size: cover;
//     background-position: center center;
//   }

//   .card p { 
//     flex: 1; /* make p grow to fill available space*/
//     line-height: 1.4;
//   }

//   /* typography */
//   h1 {
//     font-size: 20px;
//     margin: 0;
//     color: #333;
//   }

//   .card span {
//     font-size: 12px;
//     font-weight: bold;
//     color: #999;
//     text-transform: uppercase;
//     letter-spacing: .05em;
//     margin: 2em 0 0 0;
//   }

//   .flex{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     h3{
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       margin: .5rem;
//       //background: -webkit-linear-gradient(97deg, var(--color1) 20%, var(--color2) 70%, var(--color3) 100%);
//       background-image: linear-gradient(to right, #462523 0, #cb9b51 22%, #cb9b51 45%, #cb9b51 50%, #cfb844 55%, #cb9b51 78%, #462523 100%);
//       background-clip: text;
//       -webkit-text-fill-color: transparent;
//       font-size: 1rem;
//       font-weight: bold;
//       font: bold  Inconsolata,verdana,sans-serif;
//       color: #021425;
//       letter-spacing: 1px;
//       text-transform: uppercase;
      
//       svg{
//         fill: #cb9b51, 
//       }
//     }
//     .select{
//       width: 60vw;
//       max-width: 240px;
//       margin-right: .5rem;
//       font-size: 1rem;
//       *{
//         font-size: 1rem;
//       }
//     }
//   }
//   .articles{
//     width: 100%;
//     .player{
//       width: 45%;
//       max-width: 310px;
//       min-width: 310px;
//       height: calc(310px * 4 / 3);
//       border-radius: 10px;
//       margin: 1rem;
//       max-width: 40%;
//       @media (max-width: 500px) {
//         width: 90vw;
//         min-width: 90vw;
//         height: calc(90vw * 4 / 3);
//       }
//     }

//     .articleList{
//       display: flex;
//       flex-wrap: wrap;
//       min-height: 200px;
//       justify-content: space-between;
//       @media (max-width:685px) {
//         justify-content: center;
//       }
//       a{
//         width: 100%;
//       }
//     }
//     .readMore{
//       display: flex;
//       justify-content: space-between;
//       padding-right: 5px;
//       margin-right: 1rem;
//       .readmoreBlock{
//         padding: 2px 1rem;
//         border-radius: 20px;
//         border: 1px solid var(--color-primary-light);
//         a{
//           color: var(--color-primary-light);
//           font-weight: bold;
//         }
//       }
//     }
    
//   }
//   .stories{
//     width: 100%;
//     .storyList{
//       display: flex;
//       max-width: 100%;
//       overflow-x: scroll;
//       margin-left: -10px;
//     }
//     .storyList:first-child{
//       margin-left: -10px;
//     }
//     .storyList::-webkit-scrollbar-track {
//       border-radius: 10px;
//       background-color: #ccc;
//     }
  
//     .storyList::-webkit-scrollbar{
//       height: 0;
//       background-color: #F5F5F5;
//     }
  
//     .storyList::-webkit-scrollbar-thumb{

//       border-radius: 2px;
//       background-color: var(--color-primary-light);

//     }
//   }

// }
// .mTop{
//   margin: 70px auto;
//   margin-bottom: 0;
// }

// .footer {
//   display: flex;
//   flex: 1;
//   padding: 2rem 0;
//   border-top: 1px solid #eaeaea;
//   justify-content: center;
//   align-items: center;
// }

// .footer a {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-grow: 1;
// }

// .title a {
//   color: #0070f3;
//   text-decoration: none;
// }

// .title a:hover,
// .title a:focus,
// .title a:active {
//   text-decoration: underline;
// }

// .title {
//   margin: 0;
//   line-height: 1.15;
//   font-size: 4rem;
// }

// .title,
// .description {
//   text-align: center;
// }

// .description {
//   margin: 4rem 0;
//   line-height: 1.5;
//   font-size: 1.5rem;
// }

// .code {
//   background: #fafafa;
//   border-radius: 5px;
//   padding: 0.75rem;
//   font-size: 1.1rem;
//   font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
//     Bitstream Vera Sans Mono, Courier New, monospace;
// }

// .grid {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap;
//   max-width: 800px;
// }

// .card {
//   margin: 1rem;
//   padding: 1.5rem;
//   text-align: left;
//   color: inherit;
//   text-decoration: none;
//   border: 1px solid #eaeaea;
//   border-radius: 10px;
//   transition: color 0.15s ease, border-color 0.15s ease;
//   max-width: 300px;
// }

// .card:hover,
// .card:focus,
// .card:active {
//   color: #0070f3;
//   border-color: #0070f3;
// }

// .card h2 {
//   margin: 0 0 1rem 0;
//   font-size: 1.5rem;
// }

// .card p {
//   margin: 0;
//   font-size: 1.25rem;
//   line-height: 1.5;
// }

// .logo {
//   height: 1em;
//   margin-left: 0.5rem;
// }

// @media (max-width: 600px) {
//   .grid {
//     width: 100%;
//     flex-direction: column;
//   }
// }

// .main * {
//   font-family: Montserrat,arial,sans-serif;
// }