
.storyPreview{
    position: relative;
    box-sizing: border-box;
    width: 50vw;
    height: calc( 45vw * 16 / 9);
    min-width: 200px;
    max-width: 250px !important;
    max-height: ( 200px * 16 / 9 );
    background-color: red;
    border-radius: 5px;
    margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    .title{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        height: 40%;
        color: #fff;
        background-color: rgba(39, 40, 41, 0.445);
    }
    .logo{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 5px;
    }
}